html, body {
  height:100%;
  background-color: #50546D;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.button{
  border-radius: 5px;
  border: 1px solid #000;
  padding: 2px 2px;
  background: rgb(255, 208, 0);
  font-size: 1.3em;
  cursor: pointer;
  
}

.centered {
  height: 50vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-head {
  color: #fff;
}